/* NAVEGACIÓN */
/* Color primario: Sustituir #primario por el código hexadecimal
   Color secundario: Sustituir #secundario por el código hexadecimal	
*/
.btn.btn-charge-hours {
	background-color: #FFC107;
	font-weight: bold;
	font-size: 16px;
    border: 1px solid #b68900;
}

.o_form_view .o_form_sheet_bg > .o_form_sheet {
	border-top: 3px solid #7c7bad;
	border-radius: 10px;
	max-width: 1500px;
}

.o_main_navbar {
	background-color: #4e4d88;
	background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,105,159,1) 0%, rgba(78,77,136,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,105,159,1) 0%, rgba(78,77,136,1) 100%);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,105,159,1) 0%, rgba(78,77,136,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#4e4d88",GradientType=1);
}

.tooltip .tooltip-inner {
	background-color: #ddd;
}